@import "global";

.projects {
  margin-top: 30px;
  background-color: #eeeeee;

  h2 {
    span {
      color: $primary-color;
    }
  }

  &__elements {
    @media only screen and (min-width: 992px) {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.project {
  margin: 20px 0;

  img {
    width: 100%;
  }

  h5 {
    font-weight: bold;
    font-size: 23px;
  }

  &__technologies {
    margin-top: 10px;
    div {
      display: inline-block;
      margin-top: 10px;
      padding: 5px;
      border: 1px solid $primary-color;
      border-radius: 5px;
      background-color: $primary-color;
      color: white;
      margin-right: 10px;
    }
  }
}
